#########################GENERAL#########################
NODE_ENV=development
API_BACKEND_PORT=3001
API_BACKEND_URL=http://localhost:3001
API_BACKEND_SOCKET_PORT=3051


#########################RPC#########################
RPC_PROVIDER=ankr     # OR pulbic OR alchemy
RPC_NETWORK=ethereum-mainnet   # OR ethereum-mainnet


#########################DATABASE#########################
DATABASE_URL=postgresql://db:pass@localhost:5432/indexer?schema=public
DATA_SOURCE_NAME="postgresql://db:pass@localhost:5432/indexer?sslmode=disable"
REDIS_NO_CLUSTER_HOST=0.0.0.0
REDIS_NO_CLUSTER_PORT=6379
REDIS_NO_CLUSTER_PASSWORD=
JOB_QUEUES_NAME_PREFIX=0
#########################ALCHEMY#########################
ALCHEMY_API_KEY=

#########################ANKR############################
ANKR_API_KEY=
